.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    max-width: 1024px;
}

.bttn{
    background-color: darkgray;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bttn:focus{
    background-color: #daa520;
}